@use "../../style/mixin.scss";

.panel_notifications {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: #f1f1f1cb;
  opacity: 1;
  backdrop-filter: blur(3px);
  z-index: 100;
  @include mixin.font-regular;
  font-size: 16px;
  opacity: 0;
  visibility: hidden;
  &-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    h2 {
      text-align: center;
      margin: 0 0 10px;
      font-size: 18px;
      @include mixin.font-regular;
      color: var(--black-two);
    }
  }
}

.panel_notifications-barber_pole {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 1rem, #a2d2a220 1rem, #a2d2a220 2rem);
  background-size: 200% 200%;
  animation: barberSpin 25s linear infinite;
  z-index: 0;
  transform: translateZ(0);
}

@keyframes barberSpin {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%; /* Adjust for desired speed and direction */
  }
}

.panel_notifications-notify_text {
  font-size: 20px;
  @include mixin.font-light;
  position: relative;
  z-index: 10;
  background-color: #f1f1f1;
  padding: 20px 30px;
  border-radius: 8px;
}


.panel_notifications.zero {
  animation: 400ms zeroLoad var(--easeInOutCubic) both;
  ul,
  li,
  li::after {
    opacity: 1;
    transition: opacity 500ms var(--easeInOutCubic);
  }
}

// .panel_notifications-bar.one {
//   ul li:nth-child(1) {
//     color: var(--green);
//     &::after {
//       background-color: var(--green);
//       border: 1px solid var(--green);
//     }
//   }
//   .panel_notifications-bar-progress::after {
//     transform: scaleY(0.2);
//   }
// }

// .panel_notifications-bar.one {
//   ul li:nth-child(1) {
//     color: var(--green);
//     &::after {
//       background-color: var(--green);
//       border: 1px solid var(--green);
//     }
//   }
//   .panel_notifications-bar-progress::after {
//     transform: scaleY(0.2);
//   }
// }

// .panel_notifications-bar.two {
//   ul li:nth-child(2) {
//     color: var(--green);
//     &::after {
//       background-color: var(--green);
//       border: 1px solid var(--green);
//     }
//   }
//   .panel_notifications-bar-progress::after {
//     transform: scaleY(0.5);
//   }
// }
// .panel_notifications-bar.three {
//   ul li {
//     color: var(--green);
//     &::after {
//       background-color: var(--green);
//       border: 1px solid var(--green);
//     }
//   }
//   .panel_notifications-bar-progress::after {
//     transform: scaleY(0.85);
//   }
// }

// .panel_notifications-bar.four {
//   ul li::after {
//     background-color: var(--green);
//     border: 1px solid var(--green);
//   }
//   .panel_notifications-bar-progress::after {
//     transform: scaleY(1);
//   }
// }

.panel_notifications-bar.error {
  ul li::after {
    background-color: var(--red);
    border: 1px solid var(--red);
  }
  .panel_notifications-bar-progress::after {
    transform: scaleY(0);
  }
  .panel_notifications-bar-progress {
    background-color: var(--red);
    // transform: scaleY(1);
  }
}

.panel_notifications.hidden {
  animation: removeLoad 600ms var(--easeInOutCubic);
  animation-fill-mode: forwards;
  animation-direction: backwards;
  ul,
  li,
  li::after {
    opacity: 0;
  }
  // .panel_notifications-bar-progress {
  //   opacity: 0;
  //   &::after {
  //     opacity: 0;
  //   }
  //   &::before {
  //     opacity: 0;
  //   }
  // }
}


@keyframes panelInStart {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes siftAnimationIcon {
  0% {
    transform: translate3d(0, 30px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0px, 0);
    opacity: 1;
  }
}

@keyframes siftCompleteAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zeroLoad {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes removeLoad {
  0% {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes barberPole {
  100% {
    background-position: 100% -100%;
  }
}
