@use "../../style/mixin.scss";

/* Template Button */
.template_button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  border: 1px solid var(--black-two);
  background-color: #30303000;
  transition: all 500ms var(--easeOutCubic);
  p,
  svg {
    pointer-events: none;
  }
  &.--selected {
    background-color: var(--black-two);
    button {
      color: var(--background);
    }
    .template_button-delete-icon {
      svg g path {
        fill: var(--background);
        opacity: 0.8;
      }
    }
    &-delete {
      flex-shrink: 0;
    }
  }

  button {
    cursor: pointer;
    @include mixin.font-light;
    letter-spacing: 0.45px;
    font-size: 13px;
    color: var(--black-two);
    background: none;
    border: none;
    padding: 0;
    padding-left: 9px;
    border-radius: 20px;
  }
  &-submit {
    flex: 1;
    width: 0px;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    &:disabled{
      pointer-events: none;
    }
    &-icon {
      pointer-events: none;
      padding-top: 6.5px;
      padding-bottom: 7px;
      height: 20px;
      width: 20px;
      flex-shrink: 0;
      svg {
        height: 100%;
        width: 100%;
      }
    }
    p {
      width: 100%;
      display: block;
      height: fit-content;
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: left;
    }
  }

  &-delete-icon {
    pointer-events: none;
    height: 22px;
    width: 22px;
    flex-shrink: 0;
    svg {
      height: 100%;
      width: 100%;
    }
  }

  &-delete {
    
    background-color: aquamarine;
    margin-right: 9px;
  }
}
