/.DS_Store
/_testbed
/node_modules
/package-lock.json

*storybook.log
assets

video
dist
dist.zip

src/.DS_Store
src/manifest.json
manifestTemplate.json
src/prompts.ts

.idea
src/userFiles/prompt.txt
src/userFiles/experience.json
