@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap");

@mixin font-bold {
  font-family: "Maven Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

@mixin font-regular {
  font-family: "Maven Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@mixin font-light {
  font-family: "Maven Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@mixin grid-four {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  // margin: 0 15px;
}
